/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.paddT2{
padding-top:0px;
position:relative;
display:block;
top:0px;
}


.boxA{
min-width:320px;
position:relative;
display:block;
color:#331800;
padding-bottom:10px;
margin-bottom:22px;
min-height:100px;

    width:100%;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
    border:45px solid #000;
    border-image-source:url("../img/boxbg.jpg");
    border-image-slice:45;
    border-image-repeat:stretch;
    background-color: #ffefd6;  
}

.w100left{
position:relative;
width:100%;
left:0px;
padding:0px;
padding-left:0px;
margin-top:-5px; margin-bottom:5px;
/*margin-bottom:22px;*/
text-align: center;
display:inline-block;
}

.newsbox{
    position:relative;
    display:block;
    width:100%;
    height:545px;
    padding:10px;
    font-size:1.2em;
    text-align:left;
    margin-top:15px;
    width:100%;
    min-height:100px;
    margin-left:auto;
    margin-right:auto;
    border:6px solid #000;
    border-image-source:url("../img/boxA_bg.png");
    border-image-slice:6;
    border-image-repeat:stretch;
    background-image:url("../img/boxA.jpg");
    overflow:hidden;
    background-repeat: repeat;
}
.newsbox > .itemN:last-of-type{ margin-bottom:15px;}

.newsbox2{position:relative;
display:block;
width:100%;
height:50px;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
/*border-width:2px;
border-color:#fad56a;
text-align:center;
border-style:solid;*/
color:#fff;
margin-top:10px;
background: #627d4d; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYyN2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjNiMDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #627d4d 0%, #1f3b08 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627d4d), color-stop(100%,#1f3b08)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #627d4d 0%,#1f3b08 100%); /* IE10+ */
background: linear-gradient(to bottom,  #627d4d 0%,#1f3b08 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627d4d', endColorstr='#1f3b08',GradientType=0 ); /* IE6-8 */

}

